<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="table">
                <thead>
                    <tr>
                        <th><button class="btn btn-primary">Show Image</button></th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 star rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td><img [src]="product.imageUrl"
                                 [style.width.px]="imageWidth"
                                 [style.margin.px]="imageMargin"
                            > 
                        </td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.starRating}}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>